*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    background-color: #404043;
    margin-top: 14px;
    height: 688px;
    width: 392px;
    margin-left: 100px;
    border: 4px solid #aaaaae ;
    transition: all 200ms ease-in-out;
}

.container:hover{
    border: 4px solid red;
}
.indo-redo-buttons{
    background-color: #1F1F22;
    height: 51px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.btns i {
    color: #404043;
    padding: 7px;
    margin-left: 7px;
}
h3{
    color: rgb(179, 174, 174);
}

.previous-calcs{
    height: 265PX;
}

.display{
    background-color: #303033;
    height: 80px;
    display: flex;
    padding-top: 10px;
}

.display-content{
    height : 50%;
    width: 85%;
    align-content: center;
    font-size: 25px;
    padding-left: 5px;
    color: rgb(179, 174, 174);
}

.bx-tag-x{
    color: rgb(179, 174, 174);
    padding: 10px;
    margin-left: 15px;
    font-size: larger;

}

.buttons{
    background-color: #1F1F22;
    height: 283px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 48px); 
    padding: 13px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.buttons button{
    color: white;
    font-size: larger;
    font-weight: bold;
    height: 48px;
    border-radius: 10px;
    background-color: #353437;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.buttons button:hover{
    background-color: #454447;
}