*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #404043;
    margin-top: 14px;
    height: 688px;
    width: 392px;
    margin-left: 100px;
    border: 4px solid #aaaaae ;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.134);
}

.container:hover{
    border: 4px solid red;
}
.indo-redo-buttons{
    background-color: #1F1F22;
    height: 51px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.btns i {
    color: #404043;
    padding: 7px;
    margin-left: 7px;
}
h3{
    color: rgb(179, 174, 174);
}

.previous-calcs{
    height: 265PX;
}

.display{
    background-color: #303033;
    height: 80px;
    display: flex;
    padding-top: 10px;
}

.display-content{
    width: 85%;
    align-content: center;
    font-size: 25px;
    padding-left: 5px;
    color: rgb(223, 219, 219);
    padding-left: 10px;
    overflow: auto;
}

.bx-tag-x{
    color: rgb(179, 174, 174);
    padding: 10px;
    margin-left: 15px;
    font-size: larger;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    transition: 200ms ease-in-out;
}
.bx-tag-x:hover{
    background-color: #454549;
}
.bx-tag-x:active{
    background-color: #67676c;
}


.buttons{
    background-color: #1F1F22;
    height: 283px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 48px); 
    padding: 13px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.buttons button{
    color: white;
    font-size: larger;
    font-weight: bold;
    height: 48px;
    border-radius: 10px;
    background-color: #353437;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    transition: 200ms ease-in-out;
}

.buttons button:hover{
    background-color: #454447;
}

#equal{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 154px;
    background-color: rgb(18, 139, 237);
    transition: 200ms ease-in-out;
}
#equal:hover{
    background-color: rgb(42, 152, 242) ;
}

.num{
    background-color: #454549 !important;
    transition: 200ms ease-in-out;
}
.num:hover{
    background-color: #56565a !important;
}

.num:active{
    background-color: #6f6f74 !important;
}

#equal:active{
    background-color: rgb(76, 167, 240) ;
}
.buttons button:active{
    background-color: #605f63;
}

#parenthese, #mod{
    font-weight: 400;
}

.btns i {
    color: rgb(107, 109, 110);
    transition: 200ms ease-in-out;
    border-radius: 50px;
}
.btns i:hover {
    background-color: #6f6f7439;
}
.btns i:active {
    background-color: #acacb339;
}
.display-content::-webkit-scrollbar:vertical {
  width: 0;
}